body{
    background-image:url(https://api.wallpapers.ai/static/downloads/b6ab2354ab264a6fab74873640fcb399/upscaled/000000_396072192_kdpmpp2m15_PS7.5_fondo_del_universo_en_su_maximo_esplendor_con_unos_tonos_de_colores_vivos_._digital_art_concept_art_[upscaled].jpg)
    background-repeat: no-repeat;
    background-size: cover;
}